{% extends "posts/base.html" %}
{% load humanize %}

{% block title %}{{ post.title }} | Tech Blog{% endblock %}
{% block meta_description %}{{ post.meta_description }}{% endblock %}
{% block meta_keywords %}{{ post.meta_keywords }}{% endblock %}

{% block content %}
<article>
    <h1>{{ post.title }}</h1>
    <p class="text-muted">
        Por {{ post.author.get_full_name|default:post.author.username }} em {{ post.publication_date|date:"d/m/Y" }}
    </p>
    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid rounded mb-4" alt="{{ post.title }}">
    {% endif %}

    <div class="post-content">
        {{ post.content|linebreaks }}
    </div>
</article>
{% endblock %}